

.background{
    background-color: #414276;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.public-view{
    display: flex;
    justify-content: center;
    min-height: 60vh;
    max-width: 2000px;
    margin: 0 auto;
    flex: 1;
}

.title{
    display: flex;
    justify-content: right;
    font-size: 35px;
}

.background-icon{
    
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.1;
    z-index: 0;
}

.AppBar{
    
    z-index: 10;
}